<div role="banner" class="header_winchester">
	
	<hr class="separator">	
	
	{{#if @blog.logo}}<a class="logo_winchester" href="/#contents" title="{{@blog.title}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}

	<h1 class="blogtitle_winchester">
	
		<a title="{{@blog.title}}" href='{{@blog.url}}'>
		{{{@blog.title}}}
		</a>
	
	</h1>
	
	<hr class="separator">

</div>